.square-box {
  padding-bottom: 100%;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 35px 25px;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 35px 25px;
}


img {
  max-height: 100%;
  height: 100%;
}
